.containerSaibaMais {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;

  }
  
  .textoContainer {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  .titulo {
    font-size: 1.2rem;
    color: #333;
  }
  
  .descricao {
    font-size: 1rem;
    color: #555;
  }
  
  .enderecoContainer {
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    width: 100%;
  }
  
  .enderecoTitulo, .faleConoscoTitulo {
    font-size: 1.2rem;
    color: #333;
  }
  
  .enderecoDescricao, .faleConoscoDescricao {
    font-size: 1rem;
    color: #555;
  }
  
  /* Footer Styles */
  .footer {
    margin-top: 40px;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .footer h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .footer p {
    font-size: 1rem;
    color: #555;
  }
  
  /* Estilos responsivos */
  @media (max-width: 600px) {
    .containerSaibaMais {
      width: 90%;
    }
  }
  
  @media (max-width: 400px) {
    .containerSaibaMais {
      width: 100%;
    }
  
    .titulo, .enderecoTitulo, .faleConoscoTitulo {
      font-size: 1rem;
    }
  
    .descricao, .enderecoDescricao, .faleConoscoDescricao {
      font-size: 0.9rem;
    }
  }
  