.containerChat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 1px 1px 5px;
    border-radius: 15px;
}

.section {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 500px;
    gap: 25px;
}

.img {
    height: 200px;
}

.header {
    display: flex;
    height: 50px;
    background-color: var(--background);
    border-radius: 15px 15px 0 0;
    box-shadow: 0 1px 5px #0000;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.header p {
    font-weight: bold;
    font-size: 1.3rem;
}


.option{

    height: 30px;
    width: 95%;
    border-radius: 5px;
    border: none;
    padding: 5PX;
    margin: 0 auto;
    box-shadow: 0px 0px 2px;
    margin-bottom: 10PX;
}
.inputText {
    padding: 5PX;
    width: 90%;
    height: 25px;

    border: none;
    border-radius: 5px;
   background-color: #fff;
    box-shadow: 0px 0px 2px;
    border: none;
    align-self:flex-end;
  
    margin: 0 auto;
    

    
    
}

.resultado{
    height: 40%;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #f7f7f7;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerBtn{
    display: flex;
    justify-content: flex-end;

    align-items: center;

    width: 100%;

}
.inputBtn {
    margin-left: 10px;
    width: 80px;
 
    margin-right: 25px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: var(--background)
}

.btnInativo{
    margin-left: 10px;
    width: 80px;
    align-self: flex-end;
    margin-right: 25px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid var(--background);
    color: rgb(30, 27, 27);

    

}



.cookieBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }
  
  .acceptButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .acceptButton:hover {
    background-color: #45a049;
  }
  
  .frame{
    width:100%;
    height: 300px;
    border-radius: 5px;

  }

  @media (max-width:600px) {
    .containerChat{
        width: 340px;
    }
    .containerBtn{
        width: 90%;
        margin: 0 auto;
        gap: 10px;
    }
    .frame{
        width:350px;
        border-radius: 5px;
        margin: 0 auto;
      }
      .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        gap: 25px;
    }
  
   
  
}

@media (max-width: 480px) {
    .inputText, .option, .inputBtn {
        width: 100%; /* Campos ocupam a largura total da tela */
    }
    .containerChat {
        width: 90%;
        padding: 10px; /* Adiciona espaço interno para deixar o layout mais espaçoso */
    }
    .img {
        height: 100px; /* Reduz a altura da imagem em dispositivos móveis */
    }

    .header h1 {
        font-size: 1.5rem; /* Reduz o tamanho da fonte do título */
    }
        .frame{
        width:100%;
        border-radius: 5px;
        margin: 0 auto;
      }
      .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 340px;
        gap: 25px;
    }
  
}


.loadingSpinner {    
    margin-right: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


