.header {
    background-color: var(--background);
    display: flex;
    height: 60px; /* Aumentei a altura para dar mais espaço */
    box-shadow: 0px 0px 5px;
    justify-content: center; /* Centraliza o conteúdo no header */
    align-items: center;
    padding: 10px;
    color: #fff;
    margin-bottom: 15px;
}

.header h1 {
    font-size: 1.5rem; /* Ajuste o tamanho da fonte para maior visibilidade */
    margin: 0; /* Remove margens externas */
}

@media (max-width: 540px) {
    .header {
        height: 50px; /* Ajuste a altura para telas menores */
    }

    .header h1 {
        font-size: 1.2rem; /* Reduz o tamanho do texto para telas menores */
    }
}
