.cookieBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }
  
  .acceptButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .acceptButton:hover {
    background-color: #45a049;
  }
  